.App {
  width: 100%;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    max-width: 100px;
    animation: App-logo-spin infinite 5s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
